/* SEARCH giống Username */

.search-input,
.search-input.ant-input-affix-wrapper {
  height: 36px;
  border-radius: 12px;
  border: 2px solid #e2e8f0;
  background: #f8fafc;
  padding: 0 16px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

/* input bên trong */
.search-input input {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

/* hover */
.search-input:hover {
  border-color: #818cf8;
}

/* focus */
.search-input.ant-input-affix-wrapper-focused {
  border-color: #6366f1;

  box-shadow: 0 0 0 4px rgba(99, 102, 241, 0.1);
}

/* icon */
.search-input .ant-input-prefix {
  margin-right: 10px;
  color: #94a3b8;
}
